#tablero{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr) ;
    column-gap: 1rem;
    row-gap: 1rem;
}

.box{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
